<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Terminal.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="sidenav">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
    <div class="main">
        @RenderBody()
    </div>
    <script src="~/js/site.js"></script>
</body>
</html>
