
@{
    ViewData["Title"] = "Error";
}

<h2> Error попробуйте выполнить запрос снова,убедитесь что вы выбрали терминал</h2>
<a asp-action="Terminal" class="btn btn-outline-primary" >Попробовать еще</a>
